---
title: Nông sản Đà Lạt
layout: default
---

<section class="promo-section padding bg-grey pos-rel" id="about">
    <div class="food-1"></div>
    <div class="food-2"></div>
    <div class="container">
        <div class="promo-wrap row">
            <div class="col-md-4 col-sm-6 xs-padding">
                <div class="promo-item text-center">
                    <i class="food-icon food-iconolives"></i>
                    <h3>Sản phẩm tự nhiên</h3>
                    <p>Sản phẩm thiên nhiên từ đất mẹ Đà Lạt, Nói không với chất bảo quản, Hoàn toàn tự nhiên </p>
                    <!-- <a href="about.html">Read More</a> -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6 xs-padding">
                <div class="promo-item active text-center">
                    <i class="food-icon food-iconcauliflower"></i>
                    <h3>An toàn sinh học</h3>
                    <p>Các sản phẩm đã được chứng nhận từ các cơ quan quản lý có thẩm quyền, an toàn tuyệt đối</p>
                    <!-- <a href="about.html">Read More</a> --> 
                </div>
            </div>
            <div class="col-md-4 col-sm-6 xs-padding">
                <div class="promo-item text-center">
                    <i class="food-icon food-iconwatermelon"></i>
                    <h3>Đa dạng</h3>
                    <p>Về cả chủng loại và hình thức chế biến với nguyên liệu là các loại nông sản Đà Lạt tươi ngon</p>
                    <!-- <a href="about.html">Read More</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-section padding" id="contact">
    <div class="container">
        <div class="about-wrap row">
            <div class="col-md-6 xs-padding">
                <div class="about-img">
                    <img src="img/farmer.png" alt="img">
                </div>
            </div>
            <div class="col-md-6 xs-padding">
                <div class="about-content" >
                    <div class="section-heading">
                        <img src="img/title-border.png" alt="img">
                        <h2>Liên hệ và Đặt hàng</h2>
                        <p style="color: #263a4f; font-weight: bold">Các nhà bán lẻ và cá nhân có nhu cầu về các loại nông 
                        sản tươi, khô, đặc sản Đà Lạt.</p>
                        <p style="color: #263a4f; font-weight: bold">Các nhà bán lẻ và cá nhân có nhu cầu về các loại nông 
                        sản tươi, khô, đặc sản Đà Lạt.</p>
                    </div>
                    <p style="color: #263a4f; font-weight: bold">
                        Công ty TNHH nông sản thực phẩm NGUYÊN MINH<br/>
                        hotline: 098.225.4897 - 0907.280.875 - 0981.863.334<br/>
                        Email: 	 ctynstp.nguyenminh@gmai.com<br/>
                        Văn phòng: 232/5 Phan Đình Phùng, phường 2, TP. Đà Lạt.<br/>
                    </p>
                    <a class="default-btn" href="#shop">Đến cửa hàng<span></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product-carousel-section bg-grey padding" id="favorite">
    <div class="container">
        <div class="section-heading mb-40 text-center">
            <img src="img/title-border.png" alt="img">
            <h2>Sản phẩm đặc trưng</h2>
            <p>Các sản phẩm của công ty chúng tôi được ưa chuộng 
                <br>và phân phối rộng rãi.</p>
        </div>
        <div id="product-carousel" class="product-carousel owl-carousel">
            {% for product in site.data.favorite %}
            <div class="product-item">
                <div class="product-thumb">
                    <img src="img/products/{{product.imgUrl}}" alt="img">
                    <ul class="product-btn-group">
                        <li><a href="product-details.html"><i class="ti-shopping-cart-full"></i></a></li>
                        <li><a href="img/product-1.jpg" class="img-popup" data-gall="products-carousel"><i class="ti-gallery"></i></a></li>
                        <li><a href="#"><i class="ti-heart"></i></a></li>
                    </ul>
                </div>
                <div class="product-content text-center">
                    <h3><a href="product-details.html">{{product.name}}</a></h3>
                    <h4><span>{{product.price}}</span></h4>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<section class="feature-section padding">
    <div class="container">
        <div class="feature-wrap row">
            <div class="col-lg-6 sm-padding">
                <div class="feature-info">
                    <div class="section-heading">
                        <img src="img/title-border.png" alt="img">
                        <h2>Một đơn vị cung cấp đáng tin tưởng</h2>
                        <p>Công ty chúng tôi tự hào vì đã cung cấp dịch vụ chất lượng tới các đơn vị bán lẻ
và khách hàng, mong muốn của chúng tôi là nông sản Đà Lạt cất cánh rộng khắp
ở Việt nam, và mong muốn khách hàng tận hưởng được vị ngon của nông sản Việt</p>
                    </div>
                    <ul class="feature-list">
                        <li>
                            <i class="fa fa-check"></i>
                            <div class="feature-content">
                                <h3>10 năm kinh nghiệm</h3>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <div class="feature-content">
                                <h3>38 tỉnh thành đã được phân phối</h3>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-check"></i>
                            <div class="feature-content">
                                <h3>78 tấn hàng gửi đi mỗi năm</h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 sm-padding">
                <div class="feature-img">
                    <img src="img/feature-1.jpg" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product-section padding bg-grey" id="shop">
    <div class="container">
        <div class="section-heading mb-40 text-center">
            <img src="img/title-border.png" alt="img">
            <h2>Sản phẩm của chúng tôi</h2>
            <!--<p>Organic food is food produced by methods that comply with the standards
                <br>of organic farming. Standards vary worldwide.</p>-->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="product-filter text-center">
                  {% for cate in site.data.category %}
                    <li class="active" data-filter="{{cate.dataFilter}}">{{cate.name}}</li>
                  {% endfor %}
                </ul>
            </div>
        </div>
        <div class="product-items row">
            {% for product in site.data.product %}
              <div class="col-lg-3 col-sm-6 padding-15 single-item {{product.type}}">
                  <div class="product-item">
                      <div class="product-thumb">
                          <img src="img/products/{{product.imgUrl}}" alt="img">
                          <ul class="product-btn-group">
                              <li><a href="product-details.html"><i class="ti-shopping-cart-full"></i></a></li>
                              <li><a href="img/products/{{product.imgUrl}}" class="img-popup" data-gall="{{product.type}}"><i class="ti-gallery"></i></a></li>
                              <li><a href="#"><i class="ti-heart"></i></a></li>
                          </ul>
                      </div>
                      <div class="product-content text-center">
                          <h3><a href="product-details.html">{{product.name}}</a></h3>
                          <h4><span>{{product.price}}</span><!-- <span class="old"></span> --></h4>
                      </div>
                  </div>
              </div>
            {% endfor %}


        </div>
    </div>
</section>
<!--
<section class="cta-section padding">
    <div class="container">
        <div class="cta-wrap row">
            <div class="col-lg-8 sm-padding">
                <div class="cta-content">
                    <h2>We are Professional & Expert <br>Trusted Organic Agency!</h2>
                    <p>Organic food is food produced by methods that comply with the standards of organic farming. Standards vary worldwide, but organic farming features practices that cycle resources.</p>
                </div>
            </div>
            <div class="col-lg-4 sm-padding">
                <div class="cta-btn text-right">
                    <a class="default-btn" href="shop.html">Visit Our Store<span></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<!--
<section class="team-section padding bg-grey">
    <div class="container">
        <div class="section-heading mb-40 text-center">
            <img src="img/title-border.png" alt="img">
            <h2>Our Farmers</h2>
            <p>Organic food is food produced by methods that comply with the standards
                <br>of organic farming. Standards vary worldwide.</p>
        </div>
        <div class="team-wrap row">
            <div class="col-lg-3 col-sm-6 padding-15">
                <div class="team-box">
                    <div class="team-item">
                        <img src="img/team1.jpg" alt="img">
                        <ul class="team-social">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content text-center">
                        <h3>José Carpio<span>Organic Farmers</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 padding-15">
                <div class="team-box">
                    <div class="team-item">
                        <img src="img/team2.jpg" alt="img">
                        <ul class="team-social">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content text-center">
                        <h3>Fiorella Ibáñez<span>Organic Farmers</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 padding-15">
                <div class="team-box">
                    <div class="team-item">
                        <img src="img/team3.jpg" alt="img">
                        <ul class="team-social">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content text-center">
                        <h3>Eldie Goldey<span>Organic Farmers</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 padding-15">
                <div class="team-box">
                    <div class="team-item">
                        <img src="img/team4.jpg" alt="img">
                        <ul class="team-social">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content text-center">
                        <h3>Kyle Frederick<span>Organic Farmers</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

-->
<section class="gallery-section padding">
    <div class="container">
        <div class="section-heading mb-40 text-center">
            <img src="img/title-border.png" alt="img">
            <h2>Thư viện hình ảnh</h2>
            <p>Đà Lạt – Kết tinh từ đất mẹ</p>
        </div>
        <div class="gallery-wrap row">
          {% for image in site.data.gallery %}
            <div class="col-lg-4 col-sm-6 padding-15">
                <div class="gallery-item">
                    <img src="{{image.imgUrl}}" alt="img">
                    <div class="gallery-content">
                        <h3><a class="img-popup vbox-item" href="img/gallery-1.jpg">Fresh Living<span>{{image.name}}}</span></a></h3>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
<section class="testimonial-section bg-grey padding" id="review">
    <div class="container">
        <div class="section-heading mb-40 text-center">
            <img src="img/title-border.png" alt="img">
            <h2>Khách hàng nói gì về NongsanDaLat ?</h2>
            <!--
            <p>Organic food is food produced by methods that comply with the standards
                <br>of organic farming. Standards vary worldwide.</p>
                -->
        </div>
        <div id="testimonial-carousel" class="testimonial-carousel owl-carousel">
          {% for feedback in site.data.feedback %}

            <div class="testi-item d-flex align-items-center">
                <img src="{{feedback.avaUrl}}" alt="img">
                <div class="testi-content">
                    <p>"{{feedback.content}}"</p>
                    <h3>{{feedback.reviewer}}</h3>
                    <ul class="rattings">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span>{{feedback.role}}</span>
                </div>
                <i class="fa fa-quote-right"></i>
            </div>
        {% endfor %}

        </div>
    </div>
</section>
<!--  <section class="faq-section padding">
    <div class="container">
        <div class="section-heading mb-40 text-center">
            <img src="img/title-border.png" alt="img">
            <h2>Frequently Asked Questions</h2>
            <p>Organic food is food produced by methods that comply with the standards
                <br>of organic farming. Standards vary worldwide.</p>
        </div>
        <div class="faq-wrap row">
            <div class="col-md-6 xs-padding">
                <div class="faq-item">
                    <img src="img/faq.webp" alt="img">
                </div>
            </div>
            <div class="col-md-6 xs-padding">
                <div id="accordion" class="faq-item">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
What Do You Eat Orange Food?
</button>
</h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">This one is a big one that has been haunting me since teenage years. When I was in highschool. This one is a big one that has been haunting me since teenage years.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
Why Milk is Good For Health?
</button>
</h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">This one is a big one that has been haunting me since teenage years. When I was in highschool. This one is a big one that has been haunting me since teenage years.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
How Can you Get Good food?
</button>
</h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">This one is a big one that has been haunting me since teenage years. When I was in highschool. This one is a big one that has been haunting me since teenage years.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!--
<section class="blog-section bg-grey padding" id="blog">
    <div class="container">
        <div class="section-heading mb-40 text-center">
            <img src="img/title-border.png" alt="img">
            <h2>Thông tin sức khoẻ</h2>
            <p>Organic food is food produced by methods that comply with the standards
                <br>of organic farming. Standards vary worldwide.</p>
        </div>
        <div class="row blog-wrap">
            <div class="col-lg-4 col-sm-6 sm-padding">
                <div class="blog-item">
                    <div class="blog-thumb">
                        <img src="img/post-1.jpg" alt="post">
                        <span class="category"><a href="#">interior</a></span>
                    </div>
                    <div class="blog-content">
                        <h3><a href="blog-single.html">How to steam & purée your sugar pie pumkin.</a></h3>
                        <p>Building first evolved out dynamics between needs means available building materials attendant skills.</p>
                        <a href="blog-single.html" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 sm-padding">
                <div class="blog-item">
                    <div class="blog-thumb">
                        <img src="img/post-2.jpg" alt="post">
                        <span class="category"><a href="#">Architecture</a></span>
                    </div>
                    <div class="blog-content">
                        <h3><a href="blog-single.html">Great bulk recipes to help use all your organic vegetables.</a></h3>
                        <p>Building first evolved out dynamics between needs means available building materials attendant skills.</p>
                        <a href="blog-single.html" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 sm-padding">
                <div class="blog-item">
                    <div class="blog-thumb">
                        <img src="img/post-3.jpg" alt="post">
                        <span class="category"><a href="#">Design</a></span>
                    </div>
                    <div class="blog-content">
                        <h3><a href="blog-single.html">How can salmon be raised organically in fish farms?</a></h3>
                        <p>Building first evolved out dynamics between needs means available building materials attendant skills.</p>
                        <a href="blog-single.html" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->